/* HEADER */
.gallery-header {
    text-align: center;
    padding: 80px 10%;
    background: linear-gradient(to right, #1b5e20, #4caf50);
    color: #f5f5dc;
}

.gallery-header h1{
    font-size: 38px;
    margin-bottom: 10px;
}

/* SLIDER */
.gallery-slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 40px 10%;
    background: #e8f5e9;
}

.gallery-slider img {
    height: 260px;
    border-radius: 20px;
    transition: 0.3s;
}

.gallery-slider img:hover {
    transform: scale(1.05);
}

/* GRID */
.gallery-grid {
    padding: 60px 10%;
    background: #f5f5dc;
}
.gallery-grid h2 {
    text-align: center;
    color: #1b5e20;
    margin-bottom: 30px;
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
    gap: 20px;
}

.grid-img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.grid img:hover {
    transform: scale(1.07);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.main-header {
    background: linear-gradient(to right #0d3b1e, #1b5e20);
    padding: 14px 8%;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f5f5dc;
    font-weight: bold;
    font-size: 18px;
}

.brand img {
    width: 42px;
}

nav a {
    margin-left: 22px;
    text-decoration: none;
    color: #f5f5dc;
    font-weight: 500;
    position: relative;
}

nav a:hover, 
nav a:active {
    color: #a5d6a7;
}

nav a.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #a5d6a7;
    left: 0;
    bottom: -6px;
}

.main-header {
    background: linear-gradient(90deg, #0d3b1e, #1b5e20);
    padding: 14px 8%;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f5f5dc;
    font-size: 18px;
}

.brand img {
    height: 42px;
}

.nav-menu a {
    margin-left: 24px;
    text-decoration: none;
    color: #f5f5dc;
    font-weight: 600;
    position: relative;
}

.nav-menu a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #a5d6a7;    
}